@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(184, 178, 173);
}

.logo {
  width: 10%;
}

li,
a,
button {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(60, 60, 65, 1);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 25px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(255, 255, 255);
}

button {
  background-color: rgb(212, 131, 80);
  padding: 9px 25px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(150, 95, 64, 0.8);
}

h2 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(60, 60, 65, 1);
  text-decoration: none;
  text-align: center;
}

h1 {
  font-family: Nunito, sans-serif;
  text-align: center;
}

#my-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
    text-align: center;
}

p {
  font-family: Nunito, sans-serif;
  text-align: center;
}
