@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.div_container {
  width: 200px;
  height: 200px;
  position: relative;
}

.div_container img {
  width: 250px;
  height: 200px;
  position: absolute;
  left: 300%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 300px;
}

.card {
  background: rgb(226, 221, 221);
  width: 230px;
  margin: 10px;
  border-radius: 15px;
}

.card-image {
  background-color: none;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}

.card-1 {
  background-image: url("IMG_4055.jpeg");
  background-position: center;
}

.card-2 {
  background-image: url("IMG_2128.jpeg");
  background-position: center;
}

.card-3 {
  background-image: url("IMG_2163.jpeg");
  background-position: center;
}

.card h2 {
  padding: 10px;
  text-align: center;
}

.card p {
  padding: 10px;
}

.card a {
  background-color: rgb(69, 88, 90);
  color: rgb(221, 218, 218);
  width: 75%;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 35px;
  margin-bottom: 20px;
  border-radius: 15px 15px;
}

.card:hover {
  background-color: rgb(69, 88, 90);
  color: rgb(51, 12, 12);
  cursor: pointer;
  transform: scale(1.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(184, 178, 173);
}

.logo {
  width: 10%;
}

li,
a,
button {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(60, 60, 65, 1);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 25px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(255, 255, 255);
}

button {
  background-color: rgb(212, 131, 80);
  padding: 9px 25px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(150, 95, 64, 0.8);
}

h2 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(60, 60, 65, 1);
  text-decoration: none;
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
}

li {
  display: inline;
  margin-right: 10px;
}

ul li a:hover {
  color: rgb(255, 255, 255);
}

.links-header {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-family: Nunito, sans-serif;
}

footer {
  text-align: center;
}
